@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #F8F8F8;
}

main{
  overflow: hidden;
}

.hero{
  background-image: url("/hero.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.caller{
  background: linear-gradient(180deg, #B05DF4 0%, transparent 100%);
  border-radius: 50%;
}

.m-header{
  background: linear-gradient(45deg, #4A3A69, #171421);
}

.bottom{
  background-image: url("/bottom.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dividerMain{
  border-bottom: 1px solid #DCD4E9;
  width: 100%;
}

.buttonEnter{
  background: linear-gradient(45deg, #4A3A69, #171421);
}